<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" >
    <div class="sidebar-content">
      <div class="sidebar-brand" >
        <a href="#">Headless Angular</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic" *ngIf="afAuth.authState | async as user">
          <img class="img-responsive img-rounded" src="{{user.photoURL}}" style="height: 80px" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name" *ngIf="afAuth.authState | async as user">{{user.displayName}}</span>
          <span class="user-role">Guest</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu" *ngIf="afAuth.authState | async as user">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          
          <li class="sidebar-dropdown">
            <a href="/">
              <i class="fa fa-user"></i>
              <span>Personal Infomation</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="/products">
              <i class="fa fa-shopping-cart"></i>
              <span>Products</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
     <a>
        <i class="fa fa-user" *ngIf="(afAuth.authState | async) === null" (click)="signIn()"></i>
       <i class="fa fa-power-off" *ngIf="(afAuth.authState | async)" (click)="signOut()"></i>
     </a>
      
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->